.menu1 {
    display:flex;
    justify-content:center;
    background-color:grey;
}

.item1 {
    padding:2px;
    margin:3px;
    border:4px;
    background-color:#ffcccc;
}
.menu2{
 display:flex;
    justify-content:center;
    background-color:grey;
}
.item2{
padding:2px;
    margin:3px;
    border:4px;
    background-color:#cce6ff;
}
.menu3{
display:flex;
    justify-content:center;
    background-color:grey;
}
.item3{
padding:2px;
    margin:3px;
    border:4px;
    background-color:#c2f0c2;
}